
// making grid for my main menu
.logo { grid-area: logo;}
.mainMenu { grid-area: mainMenu;}
.mainMenu {padding: 5px;}

#mainheader {
    display: grid;
    grid-template-areas: 
    'logo mainMenu mainMenu mainMenu mainMenu mainMenu';
    gap: 10px;
    align-items: center;
    background-color:$secondaryColor;
    border-bottom: solid 3px darken($secondaryColor, 20);

    

    h1 {
        text-align: center;
        padding-top: 5px;
        color: $textColor;
        
    }
}
//config and effect on main menu
.mainMenu ul {
    display: grid;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    a {
        color: $textColor;
        text-decoration: none;
        position: relative;
        
        &:hover{
            &::after{
                width: 100%;
            }
        }
        &::after{
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0%;
            width: 0%;
            border-bottom: 2px solid $primaryColor;
            transition: 0.4s;
        }
    }
}
.logo{
    margin-left: 10px;
    width: 75px;
}