
//config of the main page grid
#main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: row;
    justify-items: center;
    gap: 50px;
    margin: 5%;

    
    *{
        text-align: center;
    }
    article{
        overflow: hidden;
    }
    a{
        text-decoration: none;
        
    }
}