
//config of the main page grid
#main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: row;
    justify-items: center;
    gap: 50px;
    margin: 5%;

    
}
a{
    text-decoration: none;
    color: $textColor;
    
}
.play {
    color: $textColor;
    font-weight: bold;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: $secondaryColor;
    border-style: solid;
    border-color: #000000;
    padding: 15px 32px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper {

    margin: 0 20px;
    max-width: 100%;
    position: relative;

}
section{
    
    display: flex;
    width: 100%;
    height: 500px;
    justify-content:flex-start;
    background-color: rgba(#000000, 0.4);
    border-radius: 10px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;


    >.content{
        display: grid;
        grid-gap: 6px;
        grid-auto-flow: column;
        margin-top: 50px;
        box-sizing: border-box;
        justify-content: flex-start;
        width: 600px;
        
    }

}
section::-webkit-scrollbar{
    display: none;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: $secondaryColor;
  fill: $textColor;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

.prev {
  top: 50%;
  left: -40px;
  transform: translate(50%, -50%);
  display: flex;
}

.next {
  top: 50%;
  right: -40px;
  transform: translate(-50%, -50%);
  display: flex;
}


#main_movie{
    height: 600px !important;
    flex-wrap:nowrap;
    overflow: hidden;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px ;
        gap: 20px;
        background-color: rgba(#000000, 0.5);
        height: 100%;
        width: 100%;
        >.title{
            justify-self: center;
            font-size: xx-large;
            font-weight: bolder;
            margin-top: 10px;
            margin-bottom: 30px;
          }
          >h1{
            color: $textColor;
            font-weight: bold;
            font-size: large;     
            margin-top: 30px;
            margin-bottom: 10px;
          }
    }
}

.title{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 30px;
    >h1{
        color: $textColor;
        font-weight: bold;
        font-size: large;     
        margin-top: 10px;
        margin-bottom: 10px;
      }
}
.subheader{
    position: relative;
    // left: 125px;
    width: 0;
    height: 0;
    // top: 55px;
    .icon{
        width: 50px;
        height: 50px;
    }
}
.movie{
    height: fit-content;
    padding: 10px 0;
    border-radius: 5px;
    width: 210px;
    transition: 0.4s;
    margin: 0 10px;
    background-color: rgba(#000000, 0.4);
    div{
        display: flex;
        justify-content: center;
        height: 270px;
    }
    &:hover{
        box-shadow: 3px 5px 3px 3px rgb(37, 37, 37);
        transform: translateY(-5px);
        transition: 0.4s;
    }
}
.subfooter{
    display: flex;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    text-decoration: none;
    color: $textColor;
}