@import "./Libs/Reset.scss";
@import "./Libs/Variable.scss";
@import "./Header.scss";
@import "./Main.scss";
@import "./Footer.scss";
body {
    background-color:$primaryColor;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
    font-family: sans-serif;
    color: $textColor;
}
